.bg_white {
    background-color: #FFFFFF;
}

.bg_ltgrey{
    background-color: #F3F5F9;
}

.sct_my_padding {
    padding: 45px 0 40px 0;
}

.sct_my_padding_small {
    padding: 25px 0 15px 0;
}

.my_small_margin {
    margin: 10px 0;
}

.title_color{
    color: #031C4E;
}

.subtitle_color {
    color: #5C6A88;
}

.txtw_color {
    color: #FFFFFF;
}

.txtg-color {
    color: #BBCDFF;
}

.txtdb_color {
    color: #031C4E;
}

.txtb_color {
    color: #006AFF;
}

.txt_color {
    color: #6F7B97;
}

.txt_size {
    font-size: 25px;
}

.sub_txt_size {
    font-size: 21px;
}

.no_margin_top {
    margin-top: 0;
}

.my_clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.my_position_rel {
    position: relative;
}

.my_position_ab {
    position: absolute;
}

.my_navbar {
    height: 60px;
}

.my_logo_box {
    width: 200px;
    display: inline-block;
    line-height: 50px;
}

.my_logo_size {
    height: 25px;
}

.my_f_left {
    float: left;
}

.my_f_right {
    float: right;
}

.my_hamburger_menu {
    line-height: 60px;
}

.my_hamb_menu_custom {
    font-size: 30px;
}

.hor_menu {
    display: none;
}

@media screen and (min-width: 992px) {
    .hor_menu {
        display: inline-block;
    }

    .hor_menu > li {
        list-style: none;
        display: inline-block;
        line-height: 50px;
    }
    
    .hor_menu > li > .title_color {
       padding-right: 15px; 
    }

    .hor_menu > li > .title_color:hover {
        color: #006AFF;
        text-decoration: none;
    }
    
    .my_btn {
        background-color: #FFFFFF;
        color: #006AFF;
        border: 1px solid #006AFF;
        border-radius: 5px;
    }

    .my_btn:hover {
        color: #031C4E;
    }

    .my_hamburger_menu {
        display: none; 
    }
}
/*fine sezione header*/

/*inizio sezione 1 main*/
.my_bg_img {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-position: center bottom;
}

.card {
    padding: 20px 15px;
    border-radius: 5px;
}

.logo_google_size {
    display: inline-block;
    left: 12px;
    height: 20px;
}

.br_color {
    border-color: #EEEEEE;
    box-shadow: none; 
}

.my_form_btn_blue {
    background-color: #579AFF;
    color: #FFFFFF;
}

.my_form_btn {
    background-color: #FFFFFF;
    color: #626262;
    box-shadow: 1px 1px #E3E3E3; 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .title_size_sm {
        font-size: 39px;
    }
    
    .txt_size_sm {
        font-size: 21px;
    }
}

@media screen and (min-width: 992px) {
    .title_size_md {
        font-size: 62px;
    }
}
/*inizio sezione 2 del main*/
.prt_logo_box {
    width: 150px;
    height: 100px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .prt_logo_box {
        width: 110px;
    }    
}

/*inizio sezione 3 del main*/
.wrapper {
    margin-bottom: 40px; 
}

.my_list_item_border {
    border: none;
}

.my_list_border {
    border-left: 1px solid #CCCCCC; 
}

.txt_list_color {
    color: #7D879F;
}

.xs_img {
    margin: 15px 0 15px 0;
}

/*inizio sezione 4 del main*/
.big_wrapper {
    margin-bottom: 80px;
}

.wrapper_box {
    width: 80%;
    max-width: 450px;
    padding-bottom: 20px;
}

.left_arrow_box,
.right_arrow_box {
    width: 10%;
    margin: 135px 0;
    font-size: 20px;
    color: #031C4E; 
}

.left_arrow_box {
    color: #6F7B97;
}

.slider_box {
    width: 80%;
    max-width: 450px;
}

.slide_size {
    width: 100%;
    max-width: 450px;
}    

.silde_title_box {
    width: 90%;
    padding-top: 15px;
}

.dot_box {
    width: 200px;
}

.my_dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    padding: 0 5px;
    border: 1px solid #006AFF;
}

.my_dot.total_blue {
    background-color: #006AFF;
}

@media screen and (max-width: 767px) {
    .wrapper_box {
        width: 100%;
        max-width: 300px;
    }
    .slider_box {
        width: 100%;
    }
    .slide_size {
        max-width: 300px; 
    }
}
/*inizio sezione 6 del main*/
.bg_blue_gradient {
    background-color: #003BB9; 
}

.region_line {
    width: 95%;
    padding: 5px 0;
    border-bottom: 1px solid #FFFFFF;
}

.region_line:last-of-type {
    border-bottom: none;
}

.region_code {
   width: 20%; 
}

.region_town {
    width: 60%;
    color: #BBC8EA;
}

.region_speed {
    width: 20%;
}

.speed_color {
    color: #00D7D2; 
}

@media screen and (max-width:991px) {
    .spx_margin {
        margin-bottom: 20px;
    }
}