.bg_white {
    background-color: #FFFFFF;
}

.sct_my_padding {
    padding: 45px 0 40px 0;
}

.my_small_margin {
    margin: 10px 0;
}

.title_color{
    color: #031C4E;
}

.txtw_color {
    color: #FFFFFF;
}

.txtg-color {
    color: #BBCDFF;
}

.txtdb_color {
    color: #031C4E;
}

.txtb_color {
    color: #006AFF;
}

.no_margin_top {
    margin-top: 0;
}

.my_clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.my_position_rel {
    position: relative;
}

.my_position_ab {
    position: absolute;
}

.my_navbar {
    height: 60px;
}

.my_logo_box {
    width: 200px;
    display: inline-block;
    line-height: 50px;
}

.my_logo_size {
    height: 25px;
}

.my_f_left {
    float: left;
}

.my_f_right {
    float: right;
}

.my_hamburger_menu {
    line-height: 60px;
}

.my_hamb_menu_custom {
    font-size: 30px;
}

.hor_menu {
    display: none;
}

@media screen and (min-width: 992px) {
    .hor_menu {
        display: inline-block;
    }

    .hor_menu > li {
        list-style: none;
        display: inline-block;
        line-height: 50px;
    }
    
    .hor_menu > li > .title_color {
       padding-right: 15px; 
    }

    .hor_menu > li > .title_color:hover {
        color: #006AFF;
        text-decoration: none;
    }
    
    .my_btn {
        background-color: #FFFFFF;
        color: #006AFF;
        border: 1px solid #006AFF;
        border-radius: 5px;
    }

    .my_btn:hover {
        color: #031C4E;
    }

    .my_hamburger_menu {
        display: none; 
    }
}
/*fine sezione header*/

/*inizio sezione 1 main*/
.my_bg_img {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    background-position: center bottom;
}

.card {
    padding: 20px 15px;
    border-radius: 5px;
}

.logo_google_box {
    display: inline-block;
    left: 12px;
}

.logo_google_size {
    height: 20px;
}

.br_color {
    border-color: #EEEEEE;
    box-shadow: none; 
}

.my_form_btn_blue {
    background-color: #579AFF;
    color: #FFFFFF;
}

.my_form_btn {
    background-color: #FFFFFF;
    color: #626262;
    box-shadow: 1px 1px #E3E3E3; 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .title_size_sm {
        font-size: 39px;
    }
    
    .txt_size_sm {
        font-size: 22px;
    }
}

@media screen and (min-width: 992px) {
    .title_size_md {
        font-size: 62px;
    }
    
    .txt_size_md {
        font-size: 22px;
    }
} 